.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(-206deg, #533391 0%, #402479 100%);
}

.container {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: bold;
  z-index: 1;
}

.M {
  filter: url("#goo");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  animation: wobble 4s;
}

.lamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 100vh;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  z-index: -1;
}

.lava {
  filter: url("#goo");
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.blobP {
  border-radius: 50%;
  background-image: linear-gradient(-206deg, #eb3c93 0%, #d81275 100%);
  /* background-image: linear-gradient(-206deg, #ff9298 0%, #e4008e 100%); */
  position: absolute;
}

.blobP:nth-child(1) {
  width: 300px;
  height: 300px;
  left: 15%;
  bottom: 40%;

  animation: wobble 7s ease-in-out alternate infinite,
    blobP-one ease-in-out 10s infinite;
}
.blobP:nth-child(2) {
  width: 230px;
  height: 330px;
  left: 7.5%;
  bottom: 2.5%;

  animation: wobble 7s ease-in-out alternate infinite,
    blobP-two ease-in-out 10s infinite;
}
.blobP:nth-child(3) {
  width: 600px;
  height: 470px;
  bottom: 25%;
  left: 35%;

  animation: wobble 7s ease-in-out alternate infinite,
    blobP-three ease-in-out 10s infinite;
}
.blobP:nth-child(4) {
  width: 505px;
  height: 565px;
  bottom: -17%;
  left: 78%;

  animation: wobble 7s ease-in-out alternate infinite,
    blobP-four ease-in-out 10s infinite;
}
.blobP:nth-child(5) {
  width: 365px;
  height: 275px;
  bottom: 60%;
  left: 90%;

  animation: wobble 7s ease-in-out alternate infinite,
    blobP-five ease-in-out 10s infinite;
}

@keyframes blobY-one {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-600%);
  }
}

@keyframes blobP-one {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-600%);
  }
}

@keyframes blobP-two {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-420%);
  }
}

@keyframes blobP-three {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-305%);
  }
}
@keyframes blobP-four {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-465%);
  }
}
@keyframes blobP-five {
  0%,
  100% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(-700%);
  }
}

@keyframes wobble {
  50% {
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
  }
  100% {
    border-radius: 38% 52% 75% 36% / 50% 40% 50% 60%;
  }
}
